{% extends 'mysport/index.html' %}
{% include 'header.html' %}

{% block main %}
     <ul id="myTab" class="nav nav-pills">
 <li class="active"><a href="{%url 'profile'%}" data-toggle="tab">О пользователе</a></li>
                  <li class=""><a href="{%url 'currentorder'%}" data-toggle="tab">Текущие заказы</a></li>
 <li class=""><a href="{%url 'hist_ord'%}" data-toggle="tab">История заказов</a></li>
 <li class=""><a href="{%url 'password_change'%}" data-toggle="tab">Смена пароля</a></li>
 <li class=""><a href="{%url 'user_update'%}" data-toggle="tab">Сменить данные</a></li>

 </ul>
     <ul id="myTab" class="nav nav-pills">
             {%  if request.user.is_moder %}
 <li ><a class="funct_mod" href="{%url 'moder'%}" data-toggle="tab">Управление заказами</a></li>
         {%endif%}
</ul>
<div class="order">
    <h1>История заказов</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Заказ,№</th>
            <th>Дата заказа</th>
            <th>Оплата</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
{%for i in user_hist%}
<tr>

                    <td data-label="Заказ,№"><a href="{%url 'hist_items_order' i.id%}">{{i.id}}</a></td>
                    <td data-label="Дата заказа"><a href="{%url 'hist_items_order' i.id%}">{{i.created|date:'d.m.Y H:i'}}</a></td>

    {% if i.deny_buy %}
    <td data-label="Оплата">Заказ отменен</td>
    {% else %}
{%if i.paid == False%}

                    <td data-label="Оплата">Не оплачен</td>

{%else%}
<td data-label="Оплата">Оплачен</td>
{%endif%}
{%endif%}
            <td data-label="Статус">{{i.status}}</td>
                </tr>

                            {%endfor%}

 </tbody>
    </table>
</div>
</div>
{%endblock%}