{% extends 'mysport/index.html' %}
{%load static%}

{% include 'header.html' %}
{% block main %}
     <ul id="myTab" class="nav nav-pills">
 <li class="active"><a href="{%url 'profile'%}" data-toggle="tab">О пользователе</a></li>
                  <li class=""><a href="{%url 'currentorder'%}" data-toggle="tab">Текущие заказы</a></li>
 <li class=""><a href="{%url 'hist_ord'%}" data-toggle="tab">История заказов</a></li>
 <li class=""><a href="{%url 'password_change'%}" data-toggle="tab">Смена пароля</a></li>
 <li class=""><a href="{%url 'user_update'%}" data-toggle="tab">Сменить данные</a></li>

 </ul>
     <ul id="myTab" class="nav nav-pills">
             {%  if request.user.is_moder %}
 <li ><a class="funct_mod" href="{%url 'moder'%}" data-toggle="tab">Управление заказами</a></li>
         {%endif%}
</ul>
<div class="user_profile">

   <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">

        </div>
       </div>
       <div class="panel-body">
 <div class="text-center" id="author">
 <img src="{%static 'imgs/profileuser.jpg'%}">
<h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
 <p class="sosmed-author">
 <a href="#"><i class="fa fa-facebook" title="Facebook"></i></a>
 <a href="#"><i class="fa fa-twitter" title="Twitter"></i></a>
 <a href="#"><i class="fa fa-google-plus" title="Google Plus"></i></a>
 <a href="#"><i class="fa fa-linkedin" title="Linkedin"></i></a>
 </p>
 </div>
 <div class="panel">
 <div class="tab-pane" id="detail">
 <h4>Информация профиля</h4>
 <table class="table table-th-block">
 <tbody>

 <tr><td class="active">Зарегистрирован:</td><td>{{ user.date_joined|date:'Y-m-d' }}</td></tr>
 <tr><td class="active">Последняя активность:</td><td>{{ user.last_login|date:'Y-m-d(H:i)' }}</td></tr>
 <tr><td class="active">Город:</td><td>{{ user.city }}</td></tr>
 <tr><td class="active">Адрес:</td><td>{{ user.address }}</td></tr>
 <tr><td class="active">Почтовый индекс:</td><td><i class="fa fa-star""></i> {{ user.postal_index }}</td></tr>
 <tr><td class="active">Номер телефона:</td><td>{{ user.number_phone }}</td></tr>
</tbody>
 </table>
      </div>
      </div>
 </div>
     </div>

{%endblock%}