{% extends 'mysport/index.html' %}
{%load static%}


{% block main %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div class="order">
    <h1>Ваша корзина</h1>
    <table class="cart">
        <thead>
        <tr>
            <th></th>
            <th>Товар</th>
            <th>Кол-во</th>
            <th>Удалить</th>
            <th>Цена,шт</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>

        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td class="td_img">
                        <a href="{{ product.get_absolute_url }}">
                            <img class ='imageorderitem' src="
                                {% if product.img %}
                                   {{ product.img.url }}
                                {% else %}
                                    {% static "img/no_image.png" %}
                                {% endif %}">
                        </a>
                    </td>
                    <td data-label="Товар">{{ product.name }}</td>
                    <td data-label="Кол-во">{{ item.quantity }}</td>
                    <td data-label="Удалить"><a href="{% url "cart:cart_remove" product.id%}">Удалить</a></td>
                    <td data-label="Цена,шт" class="num">{{ item.price }}Р</td>
                    <td data-label="Цена" class="num">{{ item.total_price }}Р</td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>Всего</td>
            <td colspan="1"></td>
            <td>{{cart|length}}</td>
            <td colspan="2"></td>
            <td data-label="Итоговая цена" class="num">{{ cart.get_total_price }}Р</td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <a href="{% url "tovars" id=1 %}" class="button light">Веруться в магазин</a>
        <a href="#" class="button">Checkout</a>
        {% if request.user.is_authenticated %}
    <form action="{%url 'cart:order_create'%}" method="POST">
    {%csrf_token%}
    <button type="submit">Заказать</button>
</form>

        {%endif%}
    </p>
</div>
{% endblock %}