{% extends 'mysport/index.html' %}
{%load static%}

{% include 'header.html' %}
{% block main %}
<body lang="ru-RU" link="#0000ff" vlink="#800000" dir="ltr"><p style="line-height: 100%; margin-bottom: 0.16in; background: #ffffff">
<h3>Настоящие
гарантийные обязательства составлены
в соответствии с положениями Закона
Российской Федерации «О защите прав
потребителей» и гарантийными
обязательствами фирм-производителей</h3>.</font></font></font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0in; background: #ffffff">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">На
все товары, приобретенны, а также
приобретенные через интернет-магазин&nbsp;</font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt"><span lang="en-US">Garrison</span></font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">’</font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt"><span lang="en-US">s</span></font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">
</font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt"><span lang="en-US">Well</span></font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">,
распространяется срок гарантии
фирм-производителей.</font></font></font></font></font></p>
<p style="margin-bottom: 0.16in; background: #ffffff"><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">Гарантийное
и послегарантийное сервисное обслуживание
товара производится в сервисных центрах.</font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0in; background: #ffffff"><a name="_GoBack"></a>
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">Гарантийное
обслуживание производится бесплатно.
Гарантии исчисляются со дня продажи и
распространяются только на товары,
проданные в магазинах сети </font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt"><span lang="en-US">Garrison</span></font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">’</font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt"><span lang="en-US">s</span></font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">
</font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt"><span lang="en-US">Well</span></font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">
или приобретенные через
интернет-магазин&nbsp;</font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt"><span lang="en-US">Garrison</span></font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">’</font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt"><span lang="en-US">s</span></font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">
</font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt"><span lang="en-US">Well</span></font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">.
Необходимо предъявить товар и документ,
подтверждающий покупку (кассовый чек
в бумажном или электронном виде, товарный
чек, гарантийный талон). Вам не могут
отказать в гарантийном обслуживании,
если у вас отсутствует чек или гарантийный
талон согласно пункту 5 ст. 18 Закона РФ
от 07.02.1992 N 2300-1 &quot;О защите прав
потребителей&quot;. В случае отказа
сервисного центра принять товар,
обращайтесь в нашу поддержку.</font></font></font></font></font></p>
<p style="margin-bottom: 0.16in; background: #ffffff"><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">Сервисный
центр </font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt"><span lang="en-US">Garrison</span></font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">’</font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt"><span lang="en-US">s</span></font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">
</font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt"><span lang="en-US">Well</span></font></font></font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">
осуществляет выезд специалистов на дом
к владельцам крупногабаритных товаров
бесплатно в любом населенном пункте
РФ. Выезд специалиста сервисного центра
иного Продавца не предусмотрен.</font></font></font></p>
<p style="line-height: 100%; margin-bottom: 0.16in; background: #ffffff">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">Гарантия
аннулируется в следующих случаях:&nbsp;</font></font></font></font></font></p>
<p style="margin-bottom: 0.14in; background: #ffffff"><font color="#0e0e0e">•&nbsp;</font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">при
несоблюдении клиентом правил, приведенных
в инструкции по эксплуатации, прилагаемой
к товару;</font></font></font></p>
<p style="margin-bottom: 0.14in; background: #ffffff"><font color="#0e0e0e">•&nbsp;</font><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">при
наличии на товаре механических повреждений
или следов воздействия химических
веществ.</font></font></font></p>
<p style="margin-bottom: 0.16in; background: #ffffff"><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">Гарантийный
ремонт всех элементов конструкции
коньков ледовых и роликовых, самокатов,
скейтбордов, круизеров и лонгбордов,
подлежащих нормальному износу в процессе
эксплутации (колеса, подшипники, втулки,
оси, держатели тормоза, тормозные колодки
и тд), может быть произведен только в
случае:</font></font></font></p>
<p style="margin-bottom: 0.16in; background: #ffffff"><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">1.
соблюдения условий эксплуатации;</font></font></font></p>
<p style="margin-bottom: 0.16in; background: #ffffff"><font color="#2d2d2d"><font face="Arial, serif"><font size="2" style="font-size: 13pt">2.
после установления сотрудниками
гарантийной мастерской факта заводского
брака элемента конструкции.</font></font></font></p>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>

{%endblock%}