{% extends 'mysport/index.html' %}


{% block main %}
 <!-- content -->
 <content>
<div class="info_tovar">
    <img src="{{tovar.img.url}}" alt="">
    <div class="info_tovall">
        <p class="p_brendname">{{tovar.brend.name}}</p>
        <h3>{{tovar.name}}</h3>
        <p class="p_money">{{tovar.price}} ₽</p>
        <div class="opisan_block">
            <p class="color">Цвет: {{tovar.color.color}}</p>
        <h4>Описание:</h4>
        <p class="opisan_tovar">{{tovar.description}}
            </p>
            </div>
    </div>
</div>
    </content>
    <div class="characteristic">
        <h2>Характеристики</h2>
        <div class="charct_one">
        <p>Размер:</p>
        <p>{%for i in size%}{{i.size}},{%endfor%}</p>
    </div>
        <div class="charct_one">
        <p>Время года:</p>
        <p>{{harakt.season_year}}</p>
    </div>
    <div class="charct_one">
        <p>Страна производитель: </p>
        <p>{{harakt.country_crator}}</p>
    </div>
    <div class="charct_one">
        <p>Материал: </p>
        <p>{{harakt.material}}</p>
    </div>
    </div>
     <!--end content -->
{% endblock %}
