{% extends 'mysport/index.html' %}
{%load static%}

{% include 'header.html' %}
{% block main %}

<h2>Гарантия
цены</h2></h1>
<p style="margin-bottom: 0.14in; background: #ffffff"><br/>

</p>
<p align="justify" style="line-height: 150%; margin-top: 0.06in; margin-bottom: 0.06in; background: #ffffff">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font color="#000000"><font face="Arial, serif">Мы
стараемся держать цены на большинство
позиций представленных на нашем сайте
в минимальном ценовом сегменте,
относительно аналогичных товаров
конкурентов. Мы уверены в своих ценах
и поэтому запускаем бессрочную акцию
«Гарантия самой низкой цены!».</font></font></font></font></p>
<p align="justify" style="line-height: 150%; margin-top: 0.06in; margin-bottom: 0.06in; background: #ffffff">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font color="#000000"><font face="Arial, serif">Если
Вам предлагают аналогичный товар по
цене ниже предложенной нами, пришлите
нам коммерческое предложение и счет от
компании поставщика, а мы сделаем Вам
скидку от его суммы!</font></font></font></font></p>
<p align="justify" style="line-height: 150%; margin-top: 0.06in; margin-bottom: 0.06in; background: #ffffff">
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font color="#000000"><font face="Arial, serif">Основными
критериями акции считаются: условия
поставки товара, его наличие или
территориальное расположение, а также
совпадения большинства технических
особенностей товара.</font></font></font></font></p>
<p style="line-height: 150%; margin-top: 0.06in; margin-bottom: 0.06in; background: #ffffff">
<h3>Особенности
ценообразования на определенные виды
продукции:</h3></p>
<p align="justify" style="line-height: 150%; margin-bottom: 0in; background: #ffffff"><a name="_GoBack"></a>
<font face="Times New Roman, serif"><font size="3" style="font-size: 12pt"><font color="#000000"><font face="Arial, serif">Уважаемые
партнеры! Некоторые, не очень добросовестные
поставщики, несколько лукавят при
выставлении счета на товар, завлекая
неопытного покупателя сверхнизкой
ценой и очень часто «забывают» про
неполный функционал, отсутствие
программного обеспечения, доставку или
дополнительное оборудование, без
которого купленный Вами товар не будет
работать.</font></font><span style="display: inline-block; border: none; padding: 0in"><font color="#000000"><font face="Arial, serif"><br/>
</span></font></font></font></font><br/>

</p>
<p style="margin-bottom: 0.14in"><br/>
<br/>

</p>

<div class="pr_haranty">
<img class="price_harant" src="{% static 'imgs/best_price.png' %}" alt="">
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{%endblock%}