{% extends 'mysport/index.html' %}
{% load static %}
{% load mptt_tags %}
{% block main %}
            <!-- content -->
            <content>
                  <ol class="ol_perehod">
                <li><a href="{% url 'index' %}">Главная</a><svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg></li>
                <li>{%if query%}{{query}}{%endif%}{{brend_name}}{{subc_name.name}}</li>
            </ol>
                <form id='filtration_tovars'>
                    <a class="filter_button">Фильтрация<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"/>
                      </svg></a>
                <div class="filter">
                    <div class="price_filter">
                    <p>Цена, ₽</p>             
                    <input type="number" name="min_price" id="min_price" value="0" placeholder="от">
                        -
                    <input type="number" name="max_price" id="max_price" placeholder="до" value="100000">
                        <input class='subm' id="price-filter{% if request.resolver_match.url_name == 'tovars'%}1{%endif%}" type="submit" value="Посмотреть">
                </div>
                <div class="cat_filter">
                    <p>Категория</p>
                    {% if request.resolver_match.url_name == 'tovars' or  request.resolver_match.url_name == 'brend_tovars' or  request.resolver_match.url_name == 'search'%}
                    {%recursetree filt_cats%}
                    {%for i in node.children.all%}
                    <div class="">
                    <input class="filter-checkbox{% if request.resolver_match.url_name == 'brend_tovars' %}1{%endif%}{% if request.resolver_match.url_name == 'search' %}2{%endif%}" data-filter="category" value="{{i.id}}" type="checkbox" id="scales" name="{{i}}"  />
                    <label for="{{i}}">{{i}}</label>
                        </div>
                    {%endfor%}
                    {% endrecursetree %}
                    {%endif%}
                </div>
                <div class="color_filter">
                    <p>Цвет</p>
                    {% if request.resolver_match.url_name == 'brend_tovars' or  request.resolver_match.url_name == 'search' %}
                    {%for i in tovars_color%}
                    <div class="">
                    <input type="checkbox" class="filter-checkbox{%if request.resolver_match.url_name == 'search' %}2{%else%}1{%endif%}" value="{{i.color}}" data-filter="color" id="scales" name="{{i.color__color}}"  />
                    <label for="{{i.color__color}}">{{i.color__color}}</label>
                        </div>
                        {%endfor%}
                    {%endif%}
                    {% if request.resolver_match.url_name == 'tovars' %}
                    {%for i in tovars_color%}
                    <div class="">
                    <input type="checkbox" class="filter-checkbox" value="{{i.subcutscats__color__id}}" data-filter="color"  id="scales" name="{{i.subcutscats__color__color}}" />
                    <label for="{{i.subcutscats__color__color}}">{{i.subcutscats__color__color}}</label>
                        </div>
                        {%endfor%}
                    {%endif%}
                </div>
                    {% if request.resolver_match.url_name == 'brend_tovars' %}
                    {%else%}
                <div class="brends_filter">
                    <p>Бренды</p>
                    {%for i in tovars_brends%}
                    <div class="">
                    <input type="checkbox" class="filter-checkbox{%if request.resolver_match.url_name == 'search' %}2{%endif%}" value="{{i.subcutscats__brend}}" id="scales" data-filter="brends" name="{{i.subcutscats__brend__name}}"  />
                    <label for="{{i.subcutscats__brend__name}}">{{i.subcutscats__brend__name}}</label>
                        </div>
                    {%endfor%}
                    {%endif%}
                </div>
            </form>
                </div>
                <div class="all_tovar">
                <div class="filter_tovars_bm">
                    {% if not request.resolver_match.url_name == 'search' %}
                    <form action="" method = 'get'>
                    <select name="select" onchange="this.form.submit()" class="select-css" placeholder="Выбрать сортировку">
                        <option name="select" value="value1" disabled selected>Выбрать сортировку</option>
                        {% if request.resolver_match.url_name == 'tovars' %}
                        <option type="submit"  name="select" value="-subcutscats__price">По убыванию цены</option>
                        <option type="submit"  name="select" value="subcutscats__name">По алфавиту a..я</option>
                        <option type="submit"  name="select" value="-subcutscats__name">По алфавиту я..а</option>
                        <option type="submit"  name="select" value="subcutscats__price">По возрастанию цены</option>
                        {%else%}
                         <option type="submit"  name="select" value="-price">По убыванию цены</option>
                        <option type="submit"  name="select" value="name">По алфавиту a..я</option>
                        <option type="submit"  name="select" value="-name">По алфавиту я..а</option>
                        <option type="submit"  name="select" value="price">По возрастанию цены</option>
                        {%endif%}
                      </select>
                        </form>
                    {%endif%}
                </div>
                <h2 class="katalog-tovars" id="{{subc_id}}{{brend_name}}">{{subc_name.name}}{{brend_name}}{% if request.resolver_match.url_name == 'search' %} <h2 class="katalog_search" id="{{query}}">Поиск</h2> {%endif%}</h2>
                <div class="content_tovar" id="filtered_tovars">
                        {%for i in tovars%}
                    <div class="tovar">
                        <div class="tovar_img">
                            <a href="{%url 'tovar' i.subcutscats%}"><img src="{% get_media_prefix %}{{i.subcutscats__img}}" alt="image_tovar"></a>
                    </div>
                    <div class="tovar_info">
                        <a href="{%url 'tovar' i.subcutscats%}"><h4>{{i.subcutscats__name}} </h4></a>
                        <small>{{i.subcutscats__characheristic__country_crator}}; {{i.subcutscats__characheristic__material}}</small>
                        <p>Цвет: {{i.subcutscats__color__color}}</p>
                    </div>
                    <div class="tovar_watch">
                        <p>{{i.subcutscats__price}} ₽ </p>
                        <a href="{%url 'tovar' i.subcutscats%}">Посмотреть</a>
                    </div>

                    </div>
                     {%endfor%}
                    {%for i in tovars_brend%}
                    <div class="tovar">
                        <div class="tovar_img">
                            <a href="{%url 'tovar' i.id%}"><img src="{{i.img.url}}" alt="image_tovar"></a>
                    </div>
                    <div class="tovar_info">
                        <a href="{%url 'tovar' i.id%}"><h4>{{i.name}} </h4></a>
                        <small>{{i.characheristic.country_crator}}; {{i.characheristic.material}}</small>
                        <p>Цвет: {{i.color}}</p>
                    </div>
                    <div class="tovar_watch">
                        <p>{{i.price}} ₽ </p>
                        <a href="{%url 'tovar' i.id%}">Посмотреть</a>
                    </div>

                    </div>
                    {%endfor%}
                     {% if query %}
                    {%for i in results_tovars%}
                    <div class="tovar">
                        <div class="tovar_img">
                            <a href="{%url 'tovar' i.id%}"><img src="{{i.img.url}}" alt="image_tovar"></a>
                    </div>
                    <div class="tovar_info">
                        <a href="{%url 'tovar' i.id%}"><h4>{{i.name}} </h4></a>
                        <small>{{i.characheristic.country_crator}}; {{i.characheristic.material}}, 102-104 см</small>
                        <p>Цвет: {{i.color}}</p>
                    </div>
                    <div class="tovar_watch">
                        <p>{{i.price}} ₽ </p>
                        <a href="{%url 'tovar' i.id%}">Посмотреть</a>
                    </div>

                    </div>
                    {%endfor%}
                    {% endif %}
            </div>
        </div>
            </content>
            <!-- endcontent -->

          {% endblock %}