 {%load static%}

                      {%for i in tovars%}
                    <div class="tovar">
                        <div class="tovar_img">
                            <a href="{%url 'tovar' i.subcutscats%}"><img src="{% get_media_prefix %}{{i.subcutscats__img}}" alt="image_tovar"></a>
                    </div>
                    <div class="tovar_info">
                        <a href="{%url 'tovar' i.subcutscats%}"><h4>{{i.subcutscats__name}} </h4></a>
                        <small>{{i.subcutscats__characheristic__country_crator}}; {{i.subcutscats__characheristic__material}}, 102-104 см</small>
                        <p>Цвет: {{i.subcutscats__color__color}}</p>
                    </div>
                    <div class="tovar_watch">
                        <p>{{i.subcutscats__price}} ₽ </p>
                        <a href="{%url 'tovar' i.subcutscats%}">Посмотреть</a>
                    </div>

                    </div>
                     {%endfor%}
