 {%load static%}

                      {%for i in tovars%}
                    <div class="tovar">
                        <div class="tovar_img">
                            <a href="{%url 'tovar' i.id%}"><img src="{{i.img.url}}" alt="image_tovar"></a>
                    </div>
                    <div class="tovar_info">
                        <a href="{%url 'tovar' i.id%}"><h4>{{i.name}} </h4></a>
                        <small>{{i.characheristic.country_crator}}; {{i.characheristic.material}}, 102-104 см</small>
                        <p>Цвет: {{i.color}}</p>
                    </div>
                    <div class="tovar_watch">
                        <p>{{i.price}} ₽ </p>
                        <a href="{%url 'tovar' i.id%}">Посмотреть</a>
                    </div>

                    </div>
                    {%endfor%}
