 {%load static%}

                      {%for i in tovars%}
                    <div class="tovar">
                        <div class="tovar_img">
                            <a href="{%url 'tovar' i.id%}"><img src="{{i.img.url}}" alt="image_tovar"></a>
                    </div>
                    <div class="tovar_info">
                        <a href="{%url 'tovar' i.id%}"><h4>{{i.name}} </h4></a>
                        <small>{{i.characheristic.country_crator}}; {{i.characheristic.material}}</small>
                        <p>Цвет: {{i.color}}</p>
                    </div>
                    <div class="tovar_watch">
                        <p>{{i.price}} ₽ </p>
                        <form class="addtocart" action="{% url "cart:cart_add" i.id %}" method="post">
                    <input type="submit" value="Добавить в корзину">
                    {% csrf_token %}
                        </form>
                    </div>

                    </div>
                    {%endfor%}
